---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog Tutorial">
  <main>
    <h1>About me</h1>
    <h2>... !And mi new Astro site</h2>

    <p>
      I am working in the introductory tutorial of Astro. This is the second
      page of my website, And is the first page that I have constructed by
      myself
    </p>

    
  </main>
</Layout>

<style>
  
</style>
