---
import Hamburguer from "./Hamburguer.astro";

import "../styles/global.css";
---

<header>
  <Hamburguer />
  <nav class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
  </nav>
</header>
<style>
  header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
</style>
<script>
  import "../scripts/menu";
</script>
