---
const { tags } = Astro.props;
---

<ul class="tags-container">
  {
    tags.map((tag) => (
      <li class="tags">
        <a class="tag" href={`/tags/${tag}`}>
          {tag}
        </a>
      </li>
    ))
  }
</ul>
<style>
  .tags-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tag {
    margin: 0.25rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.15rem;
  }
</style>
