<form action="" class="color-picker">
  <fieldset>
    <legend class="visually-hidden">Pick a color scheme</legend>
    <label for="light" class="visually-hidden">Light</label>
    <input type="radio" name="theme" id="light" />
    <label for="pink" class="visually-hidden">Pink</label>
    <input type="radio" name="theme" id="pink" />
    <label for="blue" class="visually-hidden">Blue</label>
    <input type="radio" name="theme" id="blue" />
    <label for="green" class="visually-hidden">Green</label>
    <input type="radio" name="theme" id="green" />
    <label for="dark" class="visually-hidden">Dark</label>
    <input type="radio" name="theme" id="dark" />
  </fieldset>
</form>
<script>
  import "../scripts/themeColor";
</script>
